pipeline/Incremntal Loading.json
{
	"name": "Incremntal Loading",
	"properties": {
		"activities": [
			{
				"name": "Lookup_max_date_time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(date_time) as date from orders_final\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_ds_incremental_load",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "orders_final"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data_incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_max_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select order_id, Name, date_time from orders where date_time>'@{activity('Lookup_max_date_time').output.firstRow.date}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_ds_incremental_load",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "orders"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_ds_incremental_load",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "orders_final"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-09T08:20:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
